
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }

  60% {
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(90%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}